/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #222;
}

header .banner {
    background-image: url(https://media.discordapp.net/attachments/1283813069411319910/1283814834973966377/216.png?ex=66f234fc&is=66f0e37c&hm=97e708887291f68e90f250817b35d81b75af073128c5bb7d11a27af5e4d09d5e&=&format=webp&quality=lossless&width=1920&height=1080);
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    padding: 120px;
    text-align: center;
}


.navbar {
    font-family: "Poppins", sans-serif;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #222;
    padding: 0.2em 0;
    z-index: 1000;
}

.nav-links {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.nav-links a:hover {
    color: #47bbff;
}

main {
    font-family: "Poppins", sans-serif;
    padding: 20px;
}

.filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
}

.filter-btn:hover {
    background-color: #555;
}

.filter-btn:focus {
    background-color: #47bbff;
}


.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-card {
    font-family: "Poppins", sans-serif;
    color: #fff;
    background: rgb(51,51,51);
    background: radial-gradient(circle, rgba(51,51,51,1) 0%, rgba(33,33,33,1) 100%);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin: 15px;
    width: 500px;
    text-align: center;
}

.product-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #47bbff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-link:hover {
    background-color: #4781ff;
}
.card {
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    width: 100%;
    padding: 20px;
    margin: 20px;
    text-align: center;
    align-items: center;
    position: relative;
    align-content: center;
    color: #fff;
    margin-left: 32%;
}

.card h3 {
    font-size: 24px;
    margin-bottom: 16px;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
    text-align: center;
    align-items: center;
    position: relative;
    align-content: center;
}

.card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    position: relative;
    align-content: center;
}

.card p:last-child {
    margin-bottom: 10;
    text-align: center;
    align-items: center;
    position: relative;
    align-content: center;
}

/* Stil für das Modal */
.modal {
    display: none; /* Versteckt das Modal standardmäßig */
    position: fixed; /* Bleibt an einem festen Punkt auf der Seite */
    z-index: 1; /* Zeigt das Modal über anderen Inhalten */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* Ermöglicht Scrollen, falls der Inhalt groß ist */
    background-color: rgba(0, 0, 0, 0.808); /* Halbtransparent schwarzer Hintergrund */
}

/* Stil für den Modal-Inhalt */
.modal-content {
    background-color: #333;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    color: white;
    text-align: center;
}

/* Stil für den Schließen-Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #0067a3;
    text-decoration: none;
    cursor: pointer;
}

.modal h2 {
    font-size: 24px;
    margin-bottom: 16px;
    border-bottom: 2px solid #555;
    padding-bottom: 10px;
}

.Discord{
background-color: rgba(255, 0, 0, 0);
padding-top: 8vh;

}

